@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap");


$body-color: black;
$background-color: #00B1BF;
$font-family: "Fira Sans";
$max-width-small: 400px;
$font-size-small: 26px;

body{
  font-family: $font-family, sans-serif;
  color: $body-color;  
}

h1{
  height: 132px;
  width: 434px;
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 66px;
  padding-top: 59px;
  padding-bottom: 52px;

  
  @media screen and (max-width: $max-width-small){
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  // shorthand for flex-grow, flex-shrink, flex-basis
  flex: 1;  
}

.course-column{
  padding-left: 31%;  
  background-color: $background-color;    
}

.signup{
  padding-top: 18px;
  padding-bottom: 30px;
}

.course-data-first {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 5px;
}

.course-data-button{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 93px;
  
}

.date{
  height: 36px;
  width: 123px;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 36px;
  padding-left: 5px;

  
  @media screen and (max-width: $max-width-small){
    padding-left: 15px;
  }
}

.month{
  height: 36px;
  width: 84px;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 36px;
  padding-left: 14px;
  padding-top: 7px;
}

.course-data-second{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 107px;
  position: relative;
  bottom: 77px;
  padding-top: 11px;
}

.course-institute{
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;

  @media screen and (max-width: $max-width-small){
    font-size: $font-size-small;
    font-weight: normal;
  }
}

.course-time-place{
  font-size: 18px;
  height: 36px;
  width: 286px;
  font-family: $font-family;
  letter-spacing: 0;
  line-height: 36px;

  @media screen and (max-width: $max-width-small){
    font-size: $font-size-small;
  }
}

button{  
  box-sizing: border-box;
  height: 52px;
  width: 269px;
  border: 2px solid #000000; 
  background-color: $background-color;   
  
  .btn-overview-text{
    height: 24px;
    width: 224px;  
    font-family: $font-family;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    background-color: $background-color;
  }

}



a{
  text-decoration: none;
}

.btn-signup{
  height: 26px;
  width: 83px;
  color: #000000;
  font-family: $font-family;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
}

.btn-signup-text{
  height: 26px;
  width: 83px;
  color: #000000;
  font-family: $font-family;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: right;

  @media screen and (max-width: $max-width-small){
    font-size: $font-size-small;
    font-weight: normal;
  }
}

.arrow-right{
  vertical-align: middle; 
  width: 28px;
  height: 20px;
}


image{
  max-width:100%;
  max-height:100%;

  @media screen and (max-width: $max-width-small){
    width: $max-width-small;    
    height: $max-width-small;
  }
}


@media screen and (max-width: $max-width-small){
  .course-column {    
    flex: 1;    
    padding-left: 15px;
  }
  
  .column{
    flex: 2;    
  }

  .course-data-first {
    flex: 1;
  }

  .course-data-second {
    flex: 2;
  }

}

